<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ title }}</title>

      <link rel="stylesheet" href="/css/index.css" />

      <!-- source: https://piccalil.li/course/learn-eleventy-from-scratch/lesson/19/ -->
      <link rel="stylesheet" media="print" href="/fonts/fonts.css" onload="this.media='all'" />
   </head>

   <body class="{{ page.fileSlug }}">
      <div class="content">{{ content | safe }}</div>
   </body>
</html>
