\:root 

    /*=============================================*/
    /*=         Default Color Variables           =*/
    /*=============================================*/

    --color-t: #485074
    --color-t-h: #485074
    --color-t-c: #975942
    --color-b: #fcfbf4
    --color-p:  #485074

    --color-p-l: rgba(98, 82, 90, .8)